@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');

@mixin flex($align, $justify, $direction, $gap){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$darkGray: #1C1C1C;
$ligthGray: #272727;
$pink: #F20544;
$blue: #0597F2;
$orange: #F27405;
$white: #D3D3D3;


body {
    font-family: 'Sanchez', serif;
    font-weight: 200;
    font-size: 18px;
    background-color: $darkGray;
    color: $white;
    h1, h2, h3{
        font-family: 'Sancreek', serif;
        font-weight: 200;
    }
    header{
        @include flex(center, center, row, 0);
        background-color: $darkGray;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        nav{
            @include flex(center, space-around, row, 40vw);
            a img{
                height: 30px;
            }
            ul{
                @include flex(center, space-around, row, 3rem);
                li{
                    list-style-type: none;
                    a{
                        font-size: 18px;
                        color: $white;
                        text-decoration: none;
                        font-weight: 400;
                        &::before{
                            content:"";
                            bottom: 0;
                            position: absolute;
                            margin-bottom: 18px;
                            background-color: $pink;
                            width: 35px;
                            height: 3px;
                            transform: scaleX(0);
                            transform-origin: bottom right;
                            transition: transform 0.4s ease-in-out;
                        }
                        &:hover::before{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                        &:focus{
                            font-weight: 600;
                            &::before{
                            transform: scaleX(1);
                            transition: transform 0.4 step-end;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        @include flex(center, center, column, 0);
        button{
            cursor: pointer;
        }
        section{
            @include flex(center, space-around, row, 15%);
            &.home{
                padding-top: 70px;
                height: 700px;
                width: 68%;
                img{
                    height: 400px;
                }
                .home--text{
                    h2{
                        font-size: 50px;
                        span{
                            color: $pink;
                        }
                    }
                    p{
                        margin: 20px 0px;
                    }
                }
                .home--button{
                    background-color: $darkGray;
                    color: $pink;
                    font-size: 18px;
                    border: solid 2px $pink;
                    border-radius: 5px;
                    height: 48px;
                    width: 240px;
                    font-family: 'Sancreek', serif;
                    &:hover{
                        background-color: $pink;
                        color: $darkGray;
                    }
                }
            }
            &.sobre-mim{
                height: 700px;
                width: 75%;
                h2, h3{
                    text-align: center;
                }
                h2{
                    margin-bottom: 25px;
                    font-size: 36px;
                }
                h3{
                    margin: 20px 0px;
                    font-size: 28px;
                }
                .sobre-mim--button{
                    background-color: $darkGray;
                    color: $blue;
                    font-size: 18px;
                    border: solid 2px $blue;
                    border-radius: 5px;
                    height: 48px;
                    width: 100%;
                    font-family: 'Sancreek', serif;
                    &:hover{
                        background-color: $blue;
                        color: $darkGray;
                    }
                }
                .sobre-mim--icons{
                    @include flex(center, center, row, 35px);
                }
                p{
                    font-size: 16px;
                    overflow-wrap: break-word;
                }
            }
            &.projetos{
                height: 700px;
                width: 70%;
                @include flex(center, center, column, 4rem);
                .projetos--cards{
                    @include flex(center, center, row, 20px);
                    .projetos--card{
                        @include flex(center, center, column, 1rem);
                        background-color: $ligthGray;
                        border-radius: 15px;
                        text-align: center;
                        width: 280px;
                        padding: 1rem;
                        img{
                            width: 240px;
                            height: 130px;
                            border-radius: 5px;
                        }
                        small{
                            font-size: 12px;
                        }
                        p{
                            font-size: 16px;
                        }
                        button{
                            font-size: 16px;
                            width: 200px;
                            height: 38px;
                            border-radius: 5px;
                            border: none;
                            font-family: 'Sancreek', serif;
                            color: $ligthGray;
                        }
                        &.card-pink{
                            h3, small{
                                color: $pink;
                            }
                            button{
                                background-color: $pink;
                                &:hover{
                                    border: solid 2px $pink;
                                    color: $pink;
                                    background-color: $ligthGray;
                                }
                            }
                        }
                        &.card-blue{
                            h3, small{
                                color: $blue;
                            }
                            button{
                                background-color: $blue;
                                &:hover{
                                    border: solid 2px $blue;
                                    color: $blue;
                                    background-color: $ligthGray;
                                }
                            } 
                        }
                        &.card-orange{
                            h3, small{
                                color: $orange;
                            }
                            button{
                                background-color: $orange;
                                &:hover{
                                    border: solid 2px $orange;
                                    color: $orange;
                                    background-color: $ligthGray;
                                }
                            } 
                        }
                    }
                }
            }
            &.contato{
                height: 600px;
                width: 70%;
                @include flex(center, center, column, 0);
                .contato--content{
                    margin: 5rem 0rem;
                    @include flex(center, center, row, 50%);
                    p{
                        margin-bottom: 1.5rem;
                    }
                    form{
                        @include flex(center, center, column, 10px);
                        input, textarea{
                            font-family: 'Sanchez', serif;
                            padding: 10px;
                            width: 550px;
                            background-color: $ligthGray;
                            border: none;
                            border-radius: 5px;
                            color: $white;
                        }
                        input{
                            height: 3rem;
                        }
                        textarea{
                            height: 8rem;
                            resize: none;
                        }
                        button{
                            width: 100%;
                            background-color: $darkGray;
                            color: $orange;
                            font-size: 18px;
                            border: solid 2px $orange;
                            border-radius: 5px;
                            height: 48px;
                            width: 100%;
                            font-family: 'Sancreek', serif;
                            &:hover{
                                background-color: $orange;
                                color: $darkGray;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        height: 200px;
        width: 100%;
        background-color: $ligthGray;
        @include flex(center, center, row, 20%);
        img{
            height: 150px;
        }
        .social-media{
            @include flex(center, center, column, 1rem);
            .social-media--icons{
                @include flex(center, center, row, 2rem);
                .social-media--icon{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}